.menu-wrap ul li a {
    cursor: pointer;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    /*Opacity: 50%;*/
}

.liCheck {
    background-color: #285e9d !important;
}

.aCheck {
    color: #fff !important;
}