<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org/">

<head>
    <link rel="icon" th:href="@{/images/icon.png}" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dragon's Twilight 龙之暮</title>
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/loading.css}">

</head>

<body>
<h1>敬请期待</h1>

</body>
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/custom/js/keyButtonCancled.js}"></script>
<script type="text/javascript" th:src="@{/custom/js/commons.js}"></script>
<script>
    $(function () {
        $.ajax({
            type: 'GET',
            url: getRootPath() + '/webManager/getSideNavList',
            success: function (res) {
                $("#sideNav", parent.parent.document).html(res);
                //添加首页选中样式
                var activeId = 6;
                $("#navLi" + activeId, parent.parent.document).addClass('liCheck');
                $("#navA" + activeId, parent.parent.document).addClass('aCheck');
                //更新服务器状态
                parent.parent.pullServerSts();
            }
        })
    })
</script>
</html>