<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Valorant Button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/indexPage.css">

    <style>
        html, body {
            overflow-x: hidden;
            overflow-y: hidden;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #bgDiv {
            position: absolute;
            height: 100%;
            width: 100%;
            background: url('images/bg.png');
            margin-top: -4%;
            padding: 0;

        }

        .serverInfoSpan {
        }
    </style>
</head>
<body>
<div id="bgDiv">
    <img src="images/title.png" style="margin-top: -20%;position: relative" alt="龙之暮">
    <a class="transparent" href="https://dragonstwilight.oss-cn-beijing.aliyuncs.com/%E9%BE%99%E4%B9%8B%E6%9A%AE%5B2.1.0%5D.zip" style="position: relative">
        <p><span class="bg"></span><span class="base"></span><span class="text">下载客户端</span></p>
    </a>
    <nobr>
        <span class="serverInfoSpan">服务器状态：</span>
        <span class="serverInfoSpan" th:if="${status==true}" style="color: #34bb2b"><b>启动</b></span>
        <span class="serverInfoSpan" th:if="${status==false}" style="color: #ab3a35"><b>关闭</b></span>
        <span class="serverInfoSpan" th:if="${status==null}" style="color: #5c5c5c"><b>未知</b></span>
        <span class="serverInfoSpan">|||</span>
        <span class="serverInfoSpan">在线人数：</span>
        <span class="serverInfoSpan"><b th:text="${online==null?0:online}" style="color:#537af7;"></b></span>

    </nobr>

</div>


</body>
<script src="webjars/jquery/3.5.1/dist/jquery.min.js"></script>
<script>

</script>
</html>
