@keyframes bgLoad {
    100% {
        background: rgba(0, 0, 0, 0.6);

    }
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.login-page {
    width: 360px;
    padding: 12% 0 0;
    margin: auto;
}

#login_form {
    background: url('/images/background/gui.png') no-repeat;
    background-size: 100% 100%;
}

.fromButton {
    background: url('/images/indexButton/button_middle.png') !important;
    background-size: 100% 100% !important;
}

.fromButton:hover {
    background: url('/images/indexButton/button_middle_hover.png') !important;
    background-size: 100% 100% !important;
}

.form {
    position: relative;
    z-index: 1;
    /*background: #FFFFFF;*/
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    color: white;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #a09172;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: url('/images/background/input.png');
    background-size: 100% 100%
}

.form input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #c3c3c3;
}

.form input:-webkit-autofill {
    -webkit-text-fill-color: #141313 !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;
}


.form button {
    font-family: "Microsoft YaHei", "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4d4b4c;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    /*-webkit-transition: all 0.3 ease;*/
    /*transition: all 0.3 ease;*/
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #32619f;
}

.form .fromMessage {
    margin: 15px 0 0;
    color: #5d5d5d;
    font-weight: bold;
    font-size: 13px;
}

.form .fromMessage a {
    color: #d6493f;
    font-weight: bold;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

body {
    background: url('/images/background/register.png') 50% / cover no-repeat;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shake_effect {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

