<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="zh">

<head th:replace="common/commonSrc :: commonHead(~{::title},~{},~{::style})">
    <title>Dragon's Twilight 龙之暮</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-size: cover;
            /*background: url(/images/error.jpg) no-repeat fixed center 0;*/
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -ms-background-size: cover;
        }
    </style>
</head>
<body>
<nav th:replace="common/commonSrc :: commonNavHead(~{})"></nav>

<div th:replace="common/commonSrc :: commonNavFoot(~{})"></div>
</body>
<div th:replace="common/commonSrc :: commonFoot(~{})"></div>
</html>