<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="common/commonSrc :: commonHead(~{::title},~{},~{::style})">
    <title>Dragon's Twilight 龙之暮</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-size: cover;
            background: url(/images/bgIndex.jpg) no-repeat fixed center 0;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -moz-background-size: cover;
            -ms-background-size: cover;
        }

    </style>
</head>
<body>

<nav th:replace="common/commonSrc :: commonNavHead(~{})"></nav>

<div class="container" style="position:relative;top: 100px">
    <div class="row">
        <div class="col-md-12 column">
            <img class="indexTitle img-responsive center-block" src="images/title.png" alt="龙之暮">
        </div>
    </div>
    <div class="row">

    </div>
</div>


<div th:replace="common/commonSrc :: commonNavFoot(~{})"></div>
</body>


<div th:replace="common/commonSrc :: commonFoot(~{})"></div>
</html>