<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="common/commonSrc :: commonHead(~{::title},~{},~{::style})">
    <title>Dragon's Twilight 龙之暮</title>
    <style>

    </style>
</head>
<body>
<div style="position: absolute;
            top:40%;
            left:50%;
            transform:translate(-50%,-50%)">
    <h1 style="text-align: center">请使用PC端访问官网</h1><br>
    <h1 style="text-align: center">Dragon's Twilight 龙之暮</h1><br>
    <h2 style="text-align: center">QQ群：200915108</h2><br>
</div>
</body>
</html>